<%
from_class = ''
cls = lambda do |name|
  _cls  = [ name.to_s ]
  _cls << 'current' if name.to_s == current
  _cls.join(' ')
end
%>
<div class="menuTitle">プロフィール編集2</div>
<ul>
  <li><%= link_to "プロフ写真", sns_profile_photos_path({:cl=>"photo"}), :class => cls.call(:photo) %></li>
  <li><%= link_to "基本情報", edit_sns_profile_config_path(@profile,{:cl=>"base"}), :class => cls.call(:base) %></li>
  <li><%= link_to "連絡先", edit_sns_profile_config_path(@profile,{:cl=>"addr"}), :class => cls.call(:addr) %></li>
  <li><%= link_to "特技", edit_sns_profile_config_path(@profile,{:cl=>"skill"}), :class => cls.call(:skill) %></li>
  <li><%= link_to "趣味、関心", edit_sns_profile_config_path(@profile,{:cl=>"interest"}), :class => cls.call(:interest) %></li>
  <li><%= link_to "PR", edit_sns_profile_config_path(@profile,{:cl=>"pr"}), :class => cls.call(:pr) %></li>
</ul>
<div class="menuTitle">プレビュー</div>
<ul>
  <li><%= link_to "公開プロフィール", sns_profile_configs_path({:cl=>"public"}), :class => cls.call(:public)%></li>
  <li><%= link_to "仕事仲間プロフィール", sns_profile_configs_path({:cl=>"closed"}), :class => cls.call(:closed) %></li>
</ul>
