<tr>
  <th style="">管理グループ／ユーザ</th>
  <td><%= safe{ @item.creator_group.name } %>&nbsp;／&nbsp;<%= safe{ @item.creator.name } %></td>
</tr>



<% if false %>
<br />
<p class="form">作成者</p>

<table class="show">
  <tr>
    <th>作成者</th>
    <td><%=h creator %></td>
  </tr><tr>
    <th>作成日時</th>
    <td colspan="3"><%= safe{@item.created_at.strftime("%Y-%m-%d %H:%M:%S")} %></td>
  </tr><tr>
    <th>編集日時</th>
    <td colspan="3"><%= safe{@item.updated_at.strftime("%Y-%m-%d %H:%M:%S")} %></td>
  </tr>
</table>
<% end %>
