<%

kopts = [["タイトル","title"],["説明","body"]]
sopts = [["すべて",""],["公開","public"],["所属公開","group"]]
disp  = "block"  #params[:search] ? "block" : "none"

%><%= form_tag '', :method => :get, :id => "searchForm", :class => 'search',
  :style => "display: #{disp}; margin: 0px 10px 10px 10px;" do %>
<%= hidden_field_tag :search, 1 %>
<table>
  <tr>
    <th>検索</th>
    <td>
      <%= text_field_tag 's_keyword', params[:s_keyword], :class => 'keyword' %>
      <%= select_tag('s_column', options_for_select(kopts, params[:s_column])) %>
    </td>
    <th>公開範囲</th>
    <td>
      <%= select_tag('s_status', options_for_select(sopts, params[:s_status])) %>
    </td>
    <td class="formSubmitters">
      <%= submit_tag '検索', :name => :search %><%= submit_tag 'リセット', :name => :reset %>
    </td>
  </tr>
</table>
<%= hidden_field_tag :cate, params[:cate]  if params[:cate] %>
<%= hidden_field_tag :year, params[:year]  if params[:year] %>
<%= hidden_field_tag :month, params[:month]  if params[:month] %>
<%= hidden_field_tag :group, params[:group]  if params[:group] %>
<%= hidden_field_tag :rank, params[:rank]  if params[:rank] %>
<!-- end .search --><% end %>
