<div class="profilePhoto">
  <%=image_tag(@profile.profile_photo_path, :alt => @profile.name, :align => 'center', :border => 0)%>
</div>
基本データ<br />
<table class="show">
  <tr>
    <th>性別</th>
    <td><%=@profile.sex_show%></td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td><%= safe{@profile.birthday.strftime('%Y年%m月%d日')}%></td>
  </tr>
  <tr>
    <th>血液型</th>
    <td><%= @profile.bloodtype_show%></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @profile.address%></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%=@profile.phone_number%></td>
  </tr>
  <tr>
    <th>携帯電話</th>
    <td><%=@profile.mobile_number%></td>
  </tr>
  <tr>
    <th>メール</th>
    <td><%=@profile.mail_addr%></td>
  </tr>
</table>
<br />
特技<br />
<table class="show">
  <tr>
    <th>活用して欲しい能力</th>
    <td><%=hbr @profile.job_skill%></td>
  </tr>
  <tr>
    <th>免許・資格</th>
    <td><%=hbr @profile.license%></td>
  </tr>
  <tr>
    <th>サークル活動</th>
    <td><%=hbr @profile.circle%></td>
  </tr>
</table>
<br />
趣味・関心<br />
<table class="show">
  <tr>
    <th>趣味</th>
    <td><%=hbr @profile.interest %></td>
  </tr>
  <tr>
    <th>日頃の考え</th>
    <td><%=hbr @profile.thought %></td>
  </tr>
  <tr>
    <th>自主研究グループ</th>
    <td><%=hbr @profile.research_group  %></td>
  </tr>
</table>
<br />
PR<br />
<table class="show">
  <tr>
    <th>自己紹介</th>
    <td><%=hbr @profile.self_introduce%></td>
  </tr>
  <tr>
    <th>今年の目標</th>
    <td><%=hbr @profile.resolution%></td>
  </tr>
  <tr>
    <th>取り組んでいる仕事</th>
    <td><%=hbr @profile.program%></td>
  </tr>
</table>