<% mailbox_type = @mailbox.name.downcase.gsub(/(.*)\.(.*)/, '\1') %>
<% mailbox_type = "rootFolder" if mailbox_type == "folder" && @mailbox.name.index('.').nil? %>

<div class="mailboxTitle">
  <%#=raw mailbox_mobile_image_tag(mailbox_type, :blue => true) %>
  <%= link_to @mailbox.title, url_for(:mobile => :list, :page => 1), :class => "link" %>
</div>

<%= form_for :item, :url => mobile_manage_gw_webmail_mails_path(@mailbox.name), :html => {:id => "mailForm", :name => "mailForm", :class => "mailForm"} do |f| %>
<input type="hidden" name="page" value="<%=h params[:page] %>" />

<div class="mailItems">
<% for item in @items
  flag  = (item.answered?) ? "answered" : ""
  flag += "forwarded" if item.forwarded?
  mdnRequest = item.has_disposition_notification_to? ? 'mdnRequest' : ''
  from_tooltip = value = truncate(item.subject, :length => 30)
  s_from = from = item.friendly_from_addr
  if @mailbox.name =~ /^(Sent|Drafts)(\.|$)/
    from = item.simple_to_addr
    s_from = item.friendly_to_addrs[0] || ''
  end 
  from, from_tooltip = omit_from_address_in_mail_list(from)
  value = ' ' if value.blank? 
  %>
  <div class="mailItem<%= ' unseen' if item.unseen? %>">
    <input type="checkbox" name="item[ids][<%= item.uid %>]" value="1" />
    <font class="subject <%= flag %> <%= mdnRequest %>"><%= link_to mail_text_wrap(value,1000), url_for(:action => :show, :id => item.uid) %></font>
    <% if item.has_attachments? %>
    <img src="/_common/themes/admin/gw/webmail/mobile/images/clip.jpg" alt="[有]">
    <% end %>
    <br/>
    　 <font class="from"><%= mail_text_wrap(from,1000) %></font>
  </div>
<% end %>
</div>

<div class="pagination">
<%= paginate @items, :page_links => false %>
</div>

<div class="managementMenu">
<div class="title"><img alt="管理メニュー" src="/_common/themes/admin/gw/webmail/mobile/images/manage-menu-blue.jpg" />管理メニュー</div>
<div class="menus">
<%= submit_tag '移動', :name => 'mobile_move', :class => 'menuItem', :accesskey => '1' %>
<%= submit_tag 'コピー', :name => 'mobile_copy', :class => 'menuItem', :accesskey => '2' %>
<%= submit_tag '削除', :name => 'mobile_delete', :class => 'menuItem', :accesskey => '3' %>
<%= submit_tag '既読にする', :name => 'mobile_seen', :class => 'menuItem', :accesskey => '4' %>
<%= submit_tag '未読にする', :name => 'mobile_unseen', :class => 'menuItem', :accesskey => '5' %>
</div>
</div>

<% end %>

<div class="searchMenu">
<div class="title">検索</div>
<div class="menus">
<%= render :partial => 'search_mobile' %>
</div>
</div>
